#Environments
# Dependency directories
node_modules/
jspm_packages/
env/
venv/
.venv/

# Build outputs
dist/
build/
out/
*.exe
*.dll
*.so

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# IDEs and Editors
.visualstudio/
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite

# Environment variables (Sensitive Data)
.env
.env.local
.env.*.local